html,
body,
canvas {
    margin: 0px;
    min-height: 100% !important;
    min-width: 100% !important;
    color: white;
}

.flex {
    background-color: black;
    height: 100vh;
}

.tag {
    min-height: 100%;
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    margin-left: 0px;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 0px;
}
.bigText{
    font-family: 'Exo 2', sans-serif;
    margin-left:5%;
    text-align:left;
    margin-bottom:20px
}

.textito {
    font-size: 1rem;
    color: grey;
    margin:15px;
}

.desvio {
    margin-top:10px;
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #23c25b;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

.desvio:hover {

    background: #23c25b;
    background-image: -webkit-linear-gradient(top, #23c25b, #40dc9d);
    background-image: -moz-linear-gradient(top, #23c25b, #40dc9d);
    background-image: -ms-linear-gradient(top, #23c25b, #40dc9d);
    background-image: -o-linear-gradient(top, #23c25b, #40dc9d);
    background-image: linear-gradient(to bottom, #23c25b, #40dc9d);
    text-decoration: none;
}

.containerDesvio {
    padding-left: 5px;
    padding-top: 2%;
}
.paragraph1{
    height: 13%;
    padding-top: 0%;
    text-decoration: none;
    text-align:left;
    margin-left: 4%;
}
.paragraphBottom{
    height: 1%;
    padding-top: 0%;
    text-decoration: none;
    text-align:left;
    margin-left: 4%;
    padding-bottom:13%;
}

